<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">{{ contact.name }}</h2>

  
    <img 
      [src]="contact.imageUrl" 
      alt="{{ contact.name }}" 
      class="img-responsive" 
      style="max-height: 80px; margin: 10px 0;"
    >

    <div class="text-right">
      <a [routerLink]="['edit']" class="btn btn-primary margin-left-right">Edit</a>
      <a (click)="onDelete()" class="btn btn-danger margin-left-right">Delete</a>
    </div>
  </div>

  <div class="panel-body">
    <div class="col-xs-12">
      <p>Email: {{ contact.email }}</p>
      <p>Phone: {{ contact.phone }}</p>
    </div>
    <div *ngIf="contact.group && contact.group.length > 0">
  <h4>Group Contacts:</h4>

    <div *ngFor="let contact of contact.group; let i = index">
      <!-- {{ contact.name }} ({{ contact.email }}) -->
         <div>
          <app-contact-item class="col-sm-11" [contact]="contact"></app-contact-item>
    </div>

</div>
  </div>
</div>
