<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">{{ contact.name }}</h2>

  
    <img 
      [src]="contact.imagePath" 
      alt="{{ contact.name }}" 
      class="img-responsive" 
      style="max-height: 80px; margin: 10px 0;"
    >

    <div class="text-right">
      <a href="#" class="btn btn-primary btn-sm">Edit</a>
      <a href="#" class="btn btn-danger btn-sm">Delete</a>
    </div>
  </div>

  <div class="panel-body">
    <div class="col-xs-12">
      <p>Email: {{ contact.email }}</p>
      <p>Phone: {{ contact.phone }}</p>
    </div>
  </div>
</div>
