<div class="panel panel-default">
    <div class="panel-heading clearfix">
      <h3 class="panel-title pull-left">Contacts</h3>
      <div class="row">
         <div class="input-group pull-left pad-left-right col-xs-7">

            <input
              #searchBox
              type="text"
              class="form-control"
              placeholder="Search contacts..."
              (keyup)="term = searchBox.value"
              (keyup.enter)="search(searchBox.value)">

            <div class="glyphicon glyphicon-search input-group-addon" (click)="search(searchBox.value)"></div>
         </div>
      </div>
      <div class="pull-right pad-left-right">
      <a [routerLink]="['new']" class="btn btn-success btn-sm pull-right">New Contact</a>
      </div>
    </div>
    <div class="panel-body">
      <div class="col-xs-12"
       cdkDropList 
                class="col-xs-12" 
                id="contactList"
                [cdkDropListData]="contacts"
                [cdkDropListConnectedTo]="['groupList']">
        <app-contact-item cdkDrag *ngFor="let contact of contacts | contactsFilter:term" [cdkDragData]="contact" [contact]="contact"></app-contact-item>
      </div>
    </div>
  </div>